body{
    margin:0px;
}
/* Body header */

#body-header{
 background-image: url(head.jpeg);
 /* background: linear-gradient( yellow 0%, black 50%, red 100%); */
 height:70vh;
 background-size: cover;
 background-position:center ;
 opacity: 1;
 background-attachment: fixed;
 opacity: 0.8;
}
/* Horizontal list */

.horizontal-list{
    list-style: none;
    padding-left:0px;
    /* text-align: center; */
    margin:0px;
    padding-top: 20px;
}
.horizontal-list li{
    display: inline-block;
    margin:0px 8px 8px 0px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
background-color: rgb(226, 212, 210);
}

section:nth-child(2n+1){
background-color:rgb(241, 248, 250);
}


.section-heading{
    width:auto;
    padding:20px 10px 10px;
    /* margin:auto; */
    font-weight: 400;
}
.section-heading span{
    font-size:40px;
    color:#2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right:0.5rem
}
.mb75px{
    margin-bottom: 75px;
}


.horizontal-list li a{
    color: white;
    text-decoration: none;
}
.nav-menu li a:hover{
    transition: color 0.5s;
    border-bottom: 1px solid red;
}

.horizontal-list li a:hover{
    color:red;
    text-shadow: whitesmoke;
    
}

.text-center{
    text-align: center;
}
.social-icons li a i{
    padding:10px;
    font-size: 1rem;
    color:rgb(241, 232, 237);
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.5);
}
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size:4rem;
    letter-spacing: 0.1rem;
    color:white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
}
#my-image{
    height:12rem;
    width:12rem;
    margin: auto;
    margin-top:-14vh;
   
}
#my-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    border:2px solid rgb(178, 219, 226);
}

#about{
    width:100%;
    height:auto;
    position: relative;
}
#about-para{
    text-align:center;
    font-size:30px;
    color:rgb(15, 12, 8);
    padding:0% 10% 0% 10%;
    font-style:normal;
    line-height:38px;
    word-spacing: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

}
.bold-one{
    font-style: italic;
    font-size:1em;
    color:rgb(224, 10, 135);
}

/* Skill section */

.skills-display{
   
    width:70%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;

}
.skill-name span{
    color:white;
    font-display: bold;
    font-size: 1rem;
    margin-left:10px;
    margin-top:2px;
}
.skill-progress{
    height:1.4rem;
    width: 7rem;
    background-color: rgb(228, 185, 185);
    border-radius: 0.8rem;
    border: 2px solid green;
    margin:20px;
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.eighty-percent{
    color:yellowgreen;
    width:85%;
    height:inherit;
}
.sixty-percent{
    color:yellowgreen;
    width:60%;
    height:inherit;
}
.fifty-percent{
    color:yellowgreen;
    width:50%;
    height:inherit;
}
.eighty-five-percent{
    color:yellowgreen;
    width:85%;
    height:inherit;
}
.eighty-five-percent{
    color:yellowgreen;
    width:85%;
    height:inherit;
}
.eighty-five-percent{
    color:yellowgreen;
    width:85%;
    height:inherit;
}
.eighty-five-percent{
    color:yellowgreen;
    width:85%;
    height:inherit;
}


.mb-blue{
 background-color:rgb(89, 27, 172);
 border-top-left-radius:inherit;
 border-bottom-left-radius:inherit;
}
.mb-red{
    background-color:rgb(231, 44, 44);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
 }
   .mb-green{
    background-color:rgb(20, 211, 36);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
 }
   .mb-pink{
    background-color:rgb(194, 16, 134);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
 }
 .mb-purple{
    background-color:rgb(79, 9, 170);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
}
   .mb-black{
    background-color:rgb(11, 4, 19);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
}
.mb-greenish{
    background-color:rgb(15, 236, 82);
    border-top-left-radius:inherit;
    border-bottom-left-radius:inherit;
}


   /* Contact */

   #contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 100px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}


#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    max-height:20%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Experiance */

  .timeline{
    position:relative;
    width:75%;
   
}

.timeline-box{
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;

}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n){
    left:53%;
    
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}
.timeline-divider{
    position:absolute;
    border:2px dashed blue;
    height:75%;
    width:0px;
    top:10%;
    left:50%; 
}
.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}
.timeline-traveller{
    position:sticky;
    top:30%;
    transform: rotate(90deg);
}   


.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}


/* Portfolio */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Education */



/* setting background-color */

.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}